
<div class="col-12 custom-breadcrumb bgblue inline-flex"> 
    <h6 class="strong">Expenses</h6>
    </div>
     <div class="pcoded-wrapper">
     <div class="pcoded-content">
        <div class="pcoded-inner-content">
           <div class="main-body">
              <div class="page-wrapper">
                 <div class="page-body">
                    <div class="row">
                       <div class="col-md-12 col-xl-4">
                        <div class="col-12  inline-flex m-b-10">
                           <div class="col-3 m-b-10">
                              <button class="btn btn-secondary" (click)="fnback()">Back</button>
                           </div>    
                           <div class="col-5 m-b-10 inline-flex" style="align-items: end;text-align: center;">  
                              <h3 style="width: 100% !important;" class="text-c-red">₹{{total_amount}}</h3>
                           </div>   
                           <div class="col-4 m-b-10" style="text-align: right;">
                              <button class="btn btn-primary" (click)="AddNew()">Add New</button>
                           </div>    
                        </div> 
                        <form [formGroup]="expense_group" class="form-tool">
                           <div class="col-12">
                              <label class="m-b-10">Type</label>   
                              <select class="form-select m-b-10" formControlName="type" (change)="fntypeSelect()">
                                 <option [selected]="work_type == type" *ngFor="let type of work_types">{{type}}</option>
                              </select>
                           </div> 
                           <div class="col-12">
                              <label class="m-b-10">Group By</label>   
                              <select class="form-select m-b-10" formControlName="group" (change)="fnGroupby()">
                                  <option>--Select--</option>
                                  <option>Material Cost</option>
                                  <option>Wages</option>
                              </select>
                           </div> 
                        </form> 
                          <div class="card comp-card" *ngFor="let record of filtered_data">
                             <div class="card-body">
                                <div class="row align-items-center">
                                   <div class="col-12">
                                     <div class="inline-flex col-12">
                                        <div class="col-10">
                                           <h5 class="m-b-10 strong">{{ record['expense'] }}</h5>
                                        </div> 
                                     </div>   
                                      <div class="col-12 inline-flex textcenter">
                                         <div class="col-6">
                                            <p class="f-11 mb-1">Amount</p>
                                            <h4 class="f-w-700">₹ {{fnFormatRupee(record['amount'])}}</h4>
                                         </div> 
                                         <div class="col-6">
                                          <p class="f-11 mb-1">Expense Type</p>
                                          <p class="f-11 mb-1 f-w-700">{{record['expense_type']}}</p>
                                       </div> 
                                      </div>  
                                      <div> 
                                         <button class="mt-4 ml-2 m-b-0 btn btn-primary btn-danger {{display_none}}" (click)="fnDeleteItem(record['id'])">Delete</button>
                                      </div> 
                                   </div> 
                                </div>
                             </div>
                          </div> 
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </div> 